:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
}

body {
  font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 326px;
  background-color: var(--dark-desaturated-blue);
  margin: 85px 0;
}

.benefits {
  background-color: var(--very-dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.content {
  color: #ffffff;
  text-align: center;
  padding: 40px 30px 35px;
}

.title {
  padding-bottom: 20px;
}

.title h1 {
  font-size: 1.8em;
}

.title h1 span {
  color: var(--soft-violet);
}

.text {
  padding-bottom: 45px;
}

.text p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  line-height: 1.7em;
}

.image {
  background-color: var(--soft-violet);
  background-blend-mode: multiply;
  background-image: url("../images/image-header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 240px;
  opacity: 80%;
}

.stats {
  width: 100%;
}

.stats h4 {
  font-weight: bold;
}

.stats p {
  font-size: 11.5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: normal;
}

ul {
  display: block;
}

ul li {
  list-style: none;
  font-size: 1.5em;
  padding-bottom: 30px;
}

ul li:last-child {
  padding-bottom: 0;
}

ul li h4 {
  padding-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #ffffff;
}

.attribution a {
  color: var(--soft-violet);
}

footer {
  background-color: var(--very-dark-blue);
}

@media screen and (min-width: 992px) {
  .card {
    width: 85vw;
    max-width: 1100px;
    margin: 13% 0;
  }
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .content {
    padding: 70px 115px 60px 60px;
    text-align: left;
    width: 51%;
  }
  .title {
    padding-bottom: 30px;
  }
  .title h1 {
    font-size: 2.2em;
  }
  .text {
    padding-bottom: 75px;
  }
  .stats {
    width: 100%;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  ul li {
    list-style: none;
    font-size: 1.5em;
    padding-bottom: 0;
  }
  .image {
    background-image: url("../images/image-header-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 49%;
    background-position: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 80vw;
  }
  .content {
    padding: 70px 105px 60px 65px;
  }
  .stats {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */